
#store_link{
  padding-left: 20px;
}

#gmail_link{
  padding-left: 1000px;
}

#images_link{
  padding-left: 50px;
}

#google{
  color: #ff0000;
}

.g{
  color: #4885ed
}

.red{
  color: #db3236
}

#yellow_o{
  color: #f4c20d
}

#l{
  color:#3cba54
}

img {
  padding-left: 350px;
  height: 250px;
  width: auto;
}
